@model Garage_3.Models.Entites.Garage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Garage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GarageId" />
            <div class="form-group">
                <label asp-for="GarageName" class="control-label"></label>
                <input asp-for="GarageName" class="form-control" />
                <span asp-validation-for="GarageName" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="NumberOfParkingPlaces" class="control-label"></label>
                <input asp-for="NumberOfParkingPlaces" class="form-control" />
                <span asp-validation-for="NumberOfParkingPlaces" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Save" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
