@model MembershipViewModel

@{
    ViewData["Title"] = "MemberEdit";
}

<h1>MemberEdit</h1>

<h4>Membership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MemberEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MembershipId" />
            <div class="form-group">
                <label asp-for="Personnummer" class="control-label"></label>
                <input asp-for="Personnummer" class="form-control" />
                <span asp-validation-for="Personnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                @Html.DisplayFor(m => m.RegistrationDate)
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostNumber" class="control-label"></label>
                <input asp-for="PostNumber" class="form-control" />
                <span asp-validation-for="PostNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="StayPro" value="true" id="IsPro" />
                    <label class="form-check-label" asp-for="StayPro">Add Pro Membership</label>

                    <span asp-validation-for="StayPro" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <!-- HACK -->
    @if (ViewBag.BackTo != null && ViewBag.BackTo == "ShowGarage")
    {// Hack
        <a asp-action="ShowGarage" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Back to garage">Back to garage</a>
    }
    else
    {
        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="List members" asp-action="Members">Back to List of members</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
