@model Garage_3.Models.ViewModel.ParkVehicleSelectMemberViewModel

@{
    ViewData["Title"] = "Park Vehicle";
}

<h1>Park Vehicle</h1>

<div>
    <h4>Select a membership</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form metod="post" asp-controller="Garages" asp-action="ParkVehicleSelectVehicle">
                <div class="form-group">
                    <label asp-for="MemberShipId" class="control-label">Members</label>
                    @Html.DropDownList("MemberShipId", Model.Members, new { @class = "form-control" })
                    <span asp-validation-for="MemberShipId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Select member..." class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Select member" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Garages" asp-action="RegisterMember" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Register new member">Register new member</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
